doctype html
html(lang='en', ng-app='TechBlaze')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= home.title 
    // Bootstrap Core 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/blog-post.css', rel='stylesheet')    
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.navStyle(role='navigation')         
      .container     
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
          a.navbar-brand(href='#')
            img(src='/images/logo_TechBlaze 2.png', alt='Smiley face', width='130')  
                                                                         
      // /.container
    // Page Content
    .container      
      .row
        .col-lg-12.text-center
          h1 Welcome to TechBlaze
          p.lead Open Source Community
          p.lead Sign up to TechBlaze to Join the Community           
          button(class='button',class="btn-Custom",class="btn-primary",class="btn-lg") Sign Up
          &nbsp;&nbsp;   
          a(href="") SIGN IN          
            
      div(ng-controller='UserController as UserCon',ng-hide="true")
        div(class="text-center")          
          h4
            | Number of Registered Users in TechBlaze is {{userlist.length}}        
        ul.list-group
          li.list-group-item(ng-repeat='user in userlist')
            p
              |{{user.name}}
              em.pull-right {{user.price | currency}}

        form(ng-submit='AddUser()',class="text-center")
          input(type='text',placeholder="User Name",ng-model="Name")
          br
          hr
          button(type='submit',class="btn-primary") Add User
          br
          br 
        div(class="text-center")         
          button(class='button',class="btn-primary",ng-click="DeleteAllUsers()") Delete All          
    
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br                    
    //
      Footer
      ==========================
    footer
      .container(ng-controller='UserController as UserCon')
        .row
          .span6
            | Copyright &copy 2016 TechBlaze | All Rights Reserved  
            br            
          .span6
            .social.pull-right
              p 
                | Number of Registered Users : {{userlist.length}} 
    // /.Footer
          
    // jQuery
    script(src='/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/js/bootstrap.min.js')    
    script(type='text/javascript', src='/js/angular/angular.js')
    script(type='text/javascript', src='/js/angular/angular-resource.js')       
    script(type='text/javascript', src='/js/angular/app.js')
    script(type='text/javascript', src='/js/angular/controllers/user-controller.js')