doctype html
html(lang='en', ng-app='TechBlaze')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= home.title 
    // Bootstrap Core 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/blog-post.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-fixed-top.navStyle(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
      // /.container
    // Page Content
    .container
      div(ng-controller='UserController as UserCon')
        div(class="text-center")
          h4
            | Number of Registered Users in TechBlaze is #{ home.UserCount }
        
        ul.list-group
          li.list-group-item(ng-repeat='user in UserCon.userlist')
            p
              |{{user.name}}
              em.pull-right {{user.price | currency}}

        form(ng-submit='UserCon.AddUser()',class="text-center")
          input(type='text',placeholder="User Name",ng-model="Name")
          br
          hr
          button(type='submit',class="btn-primary") Add User
    // jQuery
    script(src='/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/angular.min.js')
    script(type='text/javascript', src='/js/app.js')