doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login | TechBlaze 
    // Bootstrap Core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/blog-post.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-fixed-top.navStyle(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
          a.navbar-brand(href='#')
            img(src='/images/logo_TechBlaze.jpg', alt='Smiley face', width='130')
      // /.container
    // Page Content
    .container
      .row
        .col-md-4.col-md-offset-4
          .panel-body.login-panel
            .panel-heading
              .text-center
                img(src='/images/logo_TechBlaze.jpg', alt='Smiley face', width='130')
                h4
                  b Sign in with your TechBlaze Account
                hr
            form(role='form')
              fieldset
                .form-group
                  | Username
                  input.form-control(type='text', placeholder='Username')
                .form-group
                  | Password
                  input.form-control(placeholder='Password', name='password', type='password', value='')
                // Change this to a button or input when using this as a form
                a.btn.btn-default.btn-block.btn-primary(href='login.html') Login
                .checkbox
                  label
                    input(name='remember', type='checkbox', value='Remember Me')
                    | Accept Terms & conditions
            .panel-footer.whiteBackground
              div
                .left
                  a.text-left(href='login.html') Forgot Password
                .right
                  a.text-right(href='login.html') Signup
    // jQuery
    script(src='/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/js/bootstrap.min.js')
